.container {
    display: flex;
    overflow-x: auto; /* Permite desplazarse horizontalmente */
  }
  
  .card {
    flex: 0 0 33.333%; /* Las tarjetas ocuparán un tercio del espacio */
    background-color: rgba(230, 190, 115, 0.795);
    /* Otros estilos para las tarjetas */
  }